*{
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(248, 246, 246);
    transition: background-color 0.3s ease;
    z-index: 1000;
    background-color: transparent; 
}

header.active {
    background-image: linear-gradient(to right, #97ff77 0%, #7a9bff 0%, #f47fff 21%, #25daa6d2 52%, #46b2cd 78%, #e71616 100%);
    box-shadow: rgba(200, 53, 53, 0.4) 0px 5px, rgba(94, 10, 197, 0.829) 0px 10px, rgba(150, 211, 9, 0.774) 0px 15px, rgba(240, 46, 169, 0.728) 0px 20px, rgba(8, 66, 226, 0.05) 0px 25px;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    margin: 0px 30px;
    color: rgb(245, 245, 245);
}

.logo i{
   color: #e00707;
}

.navbar{
   background: rgba(245, 222, 179, 0.354);
   padding: 12px 30px;
   border-radius: 150px;
}
.navbar a{
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-family: cursive;
    padding: 8px 12px;
}

.navbar a:hover{
    background: greenyellow;
    border-radius: 100%;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    transition: 1.0s;

}

button{
   margin:  0px 30px;
}
.auth-buttons button {
    font-family: monospace;
    font-size: 24px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.auth-buttons button:hover{
    background: #000000;
    border: 2px solid white;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 1px, rgb(31, 193, 27) 0px 0px 0px 3px, rgb(255, 217, 19) 0px 0px 0px 5px, rgb(255, 156, 85) 0px 0px 0px 7px, rgb(255, 85, 85) 0px 0px 0px 9px;
    transition: 1.0s;
}

                   /*========Hero Section=========*/
.hero {
    height: 100vh;
    background: url('./photos/web-developer.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-self{
   display: block;
   justify-content: center;
   align-items: center;
   background: #000000a5;
   border-radius: 10px;
}
.my-self h1{
  color: rgb(244, 244, 1);
  text-align: center;
  padding: 20px;
   background: linear-gradient(to right, rgb(15, 135, 233), rgb(214, 44, 233), rgb(157, 193, 27));
   background-clip: text;
   -webkit-text-fill-color: transparent;
}
.my-self p{
  color: rgb(6, 205, 250);
  text-align: center;
  padding: 10px 20px;
   background: linear-gradient(to right, rgb(44, 233, 15), rgb(44, 132, 233), rgb(31, 193, 27));
   background-clip: text;
   -webkit-text-fill-color: transparent;
}
.my-self .list{
   margin-top: 10px;
   color: #62ff00;
   font-size: 22px;
}
.my-self ul{
   margin: 10px 20px;
   padding: 0px 20px;
}
.my-self ul ol{
  text-align: center;
  color: burlywood;
  margin: 5px;
}
.my-self button{
   display: block;
   margin: 0 auto;
   font-size: 20px;
   padding: 10px 18px;
   background: #007bff;
   color: white;
   border-radius: 10px;
   margin-bottom: 10px;
}

.my-self button:hover{
   background: white;
   color: #000000;
   border-radius: 50px;
   box-shadow: rgba(12, 123, 215, 0.4) 5px 5px, rgba(21, 189, 113, 0.614) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
   transition: 1.0s;
}
  
/*======== content Section =====*/
.contant{
   display: block;
   justify-content: center;
   align-items: center;
}
.contant .head{
  background-image: linear-gradient(to right, #0d83a3 0%, #31e661 0%, #7f9fff 21%, #2c9319d2 52%, #d36a19 78%, #2416e7 100%);
  padding: 10px 20px;
  border-bottom: 2px solid black;
}
.contant .head h2, p{
  text-align: center;
  margin: 5px;
}
.contant .head h2{
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to right, red, blue);
    background-clip: text;
   -webkit-text-fill-color: transparent;
}

/*====== left site =====*/
.project{
  display: flex;
  background: linear-gradient(to right, #65d41165 0%, #191cba76 0%, #e57fff55 21%, #cbe00c54 52%, #d369196f 78%, #e7165f81 100%);;
  padding: 20px 10px;
}


.project .left img{
    width: 600px;
    height: 800px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
}
.right h2{
   text-align: center;
   font-size: 32px;
    background: linear-gradient(to right, rgb(0, 21, 255), rgb(0, 255, 13));
    background-clip: text;
   -webkit-text-fill-color: transparent;
}
.project .right{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   justify-content: center;
   align-items: center;
}

.project .right img{
    width: 290px;
    height: 200px;
    margin: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.project .right img:hover{
    border-radius: 10px;
    transition: 1.0s;
    box-shadow: rgb(85, 255, 139) 0px 0px 0px 3px, rgb(27, 116, 193) 0px 0px 0px 6px, rgba(251, 19, 255, 0.772) 0px 0px 0px 9px, rgb(187, 81, 5) 0px 0px 0px 12px, rgb(7, 198, 58) 0px 0px 0px 15px;
}

/*Contact Section*/
.contact-us{
    display: flex;
    background: #012445ae;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
}
.contact img{
    width: 500px;
    height: 400;
    margin: 20px;
    border-radius: 10px;
}

.contact{
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
}
.main-contact h3{
    font-size: 3em;
    font-family: monospace;
    margin: 20px;
}

.main-contact input{
    display: block;
    margin: 20px;
    font-size: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid black;
}

.contact-button{
    padding: 10px 18px;
    margin: 20px;
    font-size: 24px;
    background: #000000;
    border: none;
    border-radius: 10px;
    font-family: fantasy;
}

.contact-button a{
    text-decoration: none;
    color: white;
    padding: 8px 12px;
}

.sub-contact{
    display: inline-block;
    margin: 2em;
    padding: 10px;
}

.sub-contact h2{
    margin: 10px;
    font-size: 32px;
}

.sub-contact p{
    margin: 20px 10px;
}

.contact-icon{
    display: inline;
    font-size: 4em;
}
               /*footer*/
footer p{
    margin: 0%;
    background: #0a00108f;
    font-family: cursive;
    text-align: center;
    padding: 30px;
}